body {
    margin: 0;
    background: #eee;
}

canvas {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform:translate(-50%, -50%);
    border-radius: 3px;
    background: #e5e5e5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}